@*<div class="text-center restSearch">
        <form class="form-inline" role="form">
            <div class="form-group col-md-2 ">
                <div class="input-group ">
                    <span class="input-group-addon"><i class="oi" data-glyph="person"></i></span>
                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select a lunch ...">
                        <option value="1">1 персона</option>
                        <option value="2" selected="selected">2 персоны</option>
                        <option value="3">3 персоны</option>
                        <option value="4">4 персоны</option>
                        <option value="5">5 персон</option>
                        <option value="6">6 персон</option>
                        <option value="7">7 персон</option>
                        <option value="8">8 персон</option>
                        <option value="9">9 персон</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-2 ">
                <div class="input-group">
                    <span class="input-group-addon"><i class="oi" data-glyph="calendar"></i></span>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            &nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><div id="dp6" style="color:gray; background-color:white" data-date="12-02-2012" data-date-format="dd-mm-yyyy"></div></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="input-group ">
                    <span class="input-group-addon"><i class="oi" data-glyph="clock"></i></span>
                    <input class="Time" id="idTime" name="time" value="" type="text">
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="input-group ">
                    <span class="input-group-addon"><i class="oi" data-glyph="map-marker"></i></span>
                    <input class="SearchBl" id="idSearchBl" name="SearchBl" value="" type="text">
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="input-group ">
                    <button type="button" class="btn btn-danger">Зарезервировать</button>
                </div>
            </div>
        </form>
    </div><br>*@

