@model CityGoodTaste.Models.Administration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CityGoodTaste.Models.RestaurantSchema schemaModel = Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault();
}

<link href="~/Content/css/Default/clockpicker.css" rel="stylesheet" />
<script src="~/Scripts/Default/clockpicker.js"></script>

<link rel="stylesheet" href="~/Content/css/Custom/Administration.css" type="text/css">
<script src="~/Scripts/Custom/Localization/datepicker-RUS.js"></script>
<script src="~/Scripts/Custom/AdministrationIndex.js"></script>


<div class="container-fluid minPadding" style="margin-left: 15px; margin-right: 15px">
    <div class="row">
        <div class="col-sm-2 text-center pull-left" style="border-top:none; padding:0; margin-right:75px">
                <div>
                    <div id="confirmReservModalBody" style="padding:0px 5px;">
                        <div class="panel panel-default ">
                            <div class="panel-footer text-center center-block">
                                <p style="font-weight:bold">ДАТА</p>
                                <div id="datepickerContainer" class="form-group center-block">
                                    <div class="input-group">
                                        @{
                                            DateTime dt = DateTime.Now.Date;
                                        }
                                        <input type="text" id="datepicker" value=@dt.Date.ToString("dd.MM.yyyy") class="form-control">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading">    
                                <div class="form-group">
                                    <p style="font-weight:bold">ЗАРЕЗЕРВИРОВАТЬ</p>
                                    <input id="checkboxNewReservs" type="checkbox" name="checkbox" />Бронировать новые<br />
                                </div>
                            </div>                        
                            <div class="panel-body text-center center-block">
                                <p style="font-weight:bold">ВРЕМЯ</p>
                                <div id="timeContainer" class="input-group clockpicker ">
                                    @{
                                        var dtt = DateTime.Now.TimeOfDay.Hours+":"+ DateTime.Now.TimeOfDay.Minutes;
                                    }
                                    <input id="timePicker" type="text" class="form-control" value=@dtt>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body text-center center-block">
                                <p style="font-weight:bold">КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
                                <div class="form-group">
                                    <input id="name" type="text" class="form-control input-md" name="name" placeholder="Имя">
                                </div>
                                <div class="form-group">
                                    <input id="phone" type="text" class="form-control input-md" name="phone" placeholder="Телефон">
                                </div>
                            </div>
                            <div class="panel-footer text-center center-block">
                                <div>
                                    <button id="reservBt" type="button" class="btn x btn-block btn-success">Зарезервировать</button>
                                </div>
                            </div>
                        </div>
                        
                       
                        </div>

                </div>
        </div>
        <div  id="schemaAndInfo">@Html.Partial("_SchemaAndInfoPartial", schemaModel)</div>
        
    </div>
</div>


<a style="visibility: hidden" id="confirmModalLink" data-toggle="modal" data-target="#ConfirmModal" href="#"></a>
<div class="modal fade" id="ConfirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Ajax.BeginForm("ConfirmReservation",
            new { schemaId = Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault().Id,
                  restId= Model.Restaurants.FirstOrDefault().Id},
            new AjaxOptions {HttpMethod="POST", UpdateTargetId = "schemaAndInfo", OnSuccess= "reservByAdministrationSuccess", OnFailure = "reseredTablesFailure", InsertionMode = InsertionMode.Replace }, new { id = "confirmForm" }))
        {
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                    Подтвердить резерв
                </div>
                <div id="confirmReservModalBody" class="modal-body" style="padding:10px 25px;">
                    <p><span style="font-weight:700">Столики:</span></p>
                    <div id="newTablesInfoModal"></div>
                    <div class="form-group">                       
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Имя:</span><input readonly data-val="true" id="nameModal" type="text" class="form-control input-md" name="name" placeholder="Имя"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Телефон:</span><input readonly data-val="true" id="phoneModal" type="text" class="form-control input-md" name="phone" placeholder="Телефон"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Дата:</span><input readonly data-val="true" id="dateModal" type="text" class="form-control" name="date"></div>                   
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Время:</span><input readonly data-val="true" id="timeModal" type="text" class="form-control" name="time"></div>                   
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sumbitReservModalBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>
                    
                </div>
            </div>
        }
    </div>
</div>

<a style="visibility: hidden" id="confirmClientsReservModalLink" data-toggle="modal" data-target="#confirmClientsReservModal" href="#"></a>
<div class="modal fade" id="confirmClientsReservModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Ajax.BeginForm("ConfirmClientReservation",
                new
                {
                    schemaId = Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault().Id,
                    restId = Model.Restaurants.FirstOrDefault().Id
                },
                new AjaxOptions { UpdateTargetId = "schemaAndInfo", OnSuccess = "reservSuccess", OnFailure = "reseredTablesFailure", InsertionMode = InsertionMode.Replace }, new { id = "confirmClientReservForm" }))
        {
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalClientReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                    Подтвердить резерв
                </div>
                <div id="confirmClientsReservModalBody" class="modal-body" style="padding:10px 25px;">
                    <div class="form-group">
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Резерв №:</span><input readonly data-val="true" id="clientReservNumberModal" type="text" class="form-control input-md" name="reservnumber"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Имя:</span><input readonly data-val="true" id="clientReservNameModal" type="text" class="form-control input-md" name="name" placeholder="Имя"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Телефон:</span><input readonly data-val="true" id="clientReservPhoneModal" type="text" class="form-control input-md" name="phone" placeholder="Телефон"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Дата:</span><input readonly data-val="true" id="clientReservDateModal" type="text" class="form-control" name="date"></div>
                        <div style="margin-bottom:10px;"><span style="font-weight:700">Время:</span><input readonly data-val="true" id="clientReservTimeModal" type="text" class="form-control" name="time"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sumbitClientReservBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>

                </div>
            </div>
        }
    </div>
</div>


<a style="visibility: hidden" id="unreservModalLink" data-toggle="modal" data-target="#unreservModal" href="#"></a>
<div class="modal fade" id="unreservModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
@using (Ajax.BeginForm("RemoveReservation", new { restId = Model.Restaurants.FirstOrDefault().Id },
    new AjaxOptions { UpdateTargetId = "schemaAndInfo", InsertionMode = InsertionMode.Replace, OnSuccess = "removeReservSuccess" }))
{
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalUnReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                     Отменить резер
                </div>
                <div id="unReservModalBody" class="modal-body" style="padding:10px 25px;">
                    <p style="color:red">Вы уверены что хотите отменить этот резерв?</p>
                    <p style="font-weight:bold">Резерв № <input readonly data-val="true" id="reservNumber" type="text" class="form-control input-md" name="reservNumber"></p>
                    <p style="font-weight:bold">Стол № <input readonly data-val="true"  id="tablNumber" type="text" class="form-control input-md"></p>
                </div>
                <div class="modal-footer">
                    <button id="sumbitUnReservBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button id="closeBtRemoveReservModal" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>

                </div>
            </div>
}   
    </div>
</div>


<a style="visibility: hidden" id="errorModalLink" data-toggle="modal" data-target="#errorModal" href="#"></a>
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:300px">
            <div class="modal-header" style="background-color:#c34b4b; color:white">
                <span id="failureHeader" style="color:white">Данные не заполнены</span>
                <button id="closeModalError" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding:10px 10px;">
                <p id="failureMsg">Необходимо выбрать столик и заполнить контактную информацию.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-default pull-left" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>


<a style="visibility: hidden" id="successModalLink" data-toggle="modal" data-target="#successModal" href="#"></a>
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:300px">
            <div class="modal-header" style="background-color:#333333; color:white">
                <span id="headerSuccessModal" style="color:white">Резерв подтвержден</span>
                <button id="closeModalSuccess" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="confirmReservModalBody" class="modal-body" style="padding:10px 10px;">
                <p id="successMsgModal">Резерв подтвержден успешно.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-default pull-left" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>