@model CityGoodTaste.Models.Administration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    @Html.Partial("~/Views/Restaurant/_SchemaPartial.cshtml", Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault());
</div>

