@model CityGoodTaste.Models.Administration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Custom/Administration.css" type="text/css">




@{
    CityGoodTaste.Models.RestaurantSchema schemaModel = Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault();
} 




<div class="container-fluid minPadding" style="margin-left: auto; margin-right: auto">
    <div class="row">
        <div class="col-sm-2 text-center" style="border-top:none; padding:0;">
            <div class="form-group">
                <input id="checkboxNewReservs" type="checkbox" name="checkbox" />Бронировать новые<br />           
            </div>
                <div>
                    <div id="confirmReservModalBody" style="padding:40px 50px;">
                        <div class="form-group">
                            <input id="name" type="text" class="form-control input-md" name="name" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input id="phone" type="text" class="form-control input-md" name="phone" placeholder="Телефон">
                        </div>
                        <div id="timeContainer" class="input-group clockpicker ">
                            @{
                                var dtt = DateTime.Now.ToShortTimeString();
                            }
                            <input id="timePicker" type="text" class="form-control" value=@dtt>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <div id="datepickerContainer" class="form-group center-block">
                            <div class="input-group">
                                @{
                                    DateTime dt = DateTime.Now.Date;
                                }
                                <input type="text" id="datepicker" value=@dt class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="reservBt" type="button" class="btn x btn-block">Зарезервировать</button>
                    </div>
                </div>
        </div>
        <div class="col-sm-6">@Html.Partial("~/Views/Restaurant/_SchemaPartial.cshtml", schemaModel)</div>
        <div class="col-sm-4 text-center" style="border-top:none; padding:0; width:auto">
            <ul id="nav" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#confirmedReservs">Подтвержденные</a></li>
                <li><a data-toggle="tab" href="#notConfirmedReservs">Неподтвержденные</a></li>
            </ul>
            <div class="tab-content">
                <div id="confirmedReservs" class="tab-pane fade  in active">
                    <div id="confirmedReservsList" class="list-group">
                        @Html.Partial("_ReservsListPartial", schemaModel)
                    </div>
                </div>
                <div id="notConfirmedReservs" class="tab-pane fade">
                    <div class="list-group">
                        @Html.Partial("_UnconfirmedReservsListPartial", schemaModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a style="visibility: hidden" id="confirmModalLink" data-toggle="modal" data-target="#ConfirmModal" href="#"></a>
<div class="modal fade" id="ConfirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Ajax.BeginForm("_ReservsListPartial",
            new { schemaId = Model.Restaurants.FirstOrDefault().RestaurantSchemas.FirstOrDefault().Id,
                restId= Model.Restaurants.FirstOrDefault().Id},
            new AjaxOptions { UpdateTargetId = "confirmedReservsList", OnSuccess = "reseredTablesSuccess", OnFailure = "reseredTablesFailure", InsertionMode = InsertionMode.Replace }, new { id = "confirmForm" }))
        {
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                    Подтвердить резерв
                </div>
                <div id="confirmReservModalBody" class="modal-body" style="padding:40px 50px;">
                    <div id="newTablesInfoModal"></div>
                    <div class="form-group">
                        <input data-val="true" id="nameModal" type="text" class="form-control input-md" name="name" placeholder="Имя">
                        <input data-val="true" id="phoneModal" type="text" class="form-control input-md" name="phone" placeholder="Телефон">
                        <input data-val="true" id="dateModal" type="text" class="form-control" name="date">
                        <input data-val="true" id="timeModal" type="text" class="form-control" name="time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="sumbitReservBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>
                    
                </div>
            </div>
        }
    </div>
</div>


<a style="visibility: hidden" id="unreservModalLink" data-toggle="modal" data-target="#unreservModal" href="#"></a>
<div class="modal fade" id="unreservModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
@using (Ajax.BeginForm("RemoveReserv", new {restId = Model.Restaurants.FirstOrDefault().Id}, 
    new AjaxOptions { UpdateTargetId = "confirmedReservsList", InsertionMode = InsertionMode.Replace }))
{
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalUnReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                     Убрать резер
                </div>
                <div id="unReservModalBody" class="modal-body" style="padding:40px 50px;">
                    <p>№ <input readonly data-val="true" id="reservNumber" type="text" class="form-control input-md" name="reservNumber"></p>
                </div>
                <div class="modal-footer">
                    <button id="sumbitUnReservBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>

                </div>
            </div>
}   
    </div>
</div>


<script>
    $(document).ready(function () {

        SelectTable();

        ReservBtClick();

        CheckBoxChecked();

    });


    function ReservBtClick() {
        $('#reservBt').click(function () {
            $('#newTablesInfoModal').empty();
            $('#nameModal').val("");
            $('#phoneModal').val("");
            $('#dateModal').val("");
            $('#timeModal').val("");
            $('#nameModal').val($('#name').val());
            $('#phoneModal').val($('#phone').val());
            $('#dateModal').val($('#datepicker').val());
            $('#timeModal').val($('#timePicker').val()); 
            for (var i = 0; i < $('td[newReserved="True"]').length; i++) {
                var elemId = $('td[newReserved="True"]')[i].id;
                var id = document.getElementById($('td[newReserved="True"]')[i].id).getAttribute('tableid');
                var seats = document.getElementById($('td[newReserved="True"]')[i].id).getAttribute('seats');
               
                $('#newTablesInfoModal').append("<input data-val=\"true\" elemid="+elemId+" id=\"tableId" + id + "\" name=\"tableId" + id + "\" type=\"hidden\" value=\"" + id + "\">");
                $('#newTablesInfoModal').append("<p><span class=\"glyphicon glyphicon-user\">" + seats + "</span></p>");
            }
            $('#ui-datepicker-div').css("z-index", "999");
            $('#confirmModalLink').click();

        });   
    }


    function CheckBoxChecked() {
        $('#checkboxNewReservs').click(function () {
            $('td[selected]').css("background-color", '#fcfcfc');
            $('td[selected]').removeAttr('selected');
        });

    }

    function SelectTable() {
        $('td').click(function (event) {
            if($('#checkboxNewReservs:checked').val()!='on') return;
            event.stopPropagation();
            var id = event.target.id;
            if (id.indexOf('.') > 0)
                id = id.substring(id.indexOf('.') + 1);

            var reserved = document.getElementById(id).getAttribute('newReserved');
            if (document.getElementById(id).getAttribute('reservedandconfirmed') == "True")
                return;

            var tableId = document.getElementById('imgP.' + id).getAttribute('tableId');
            if (reserved == "True") {
                $('td[id="' + id + '"]').css("background-color", '#fcfcfc');
                document.getElementById('P.' + id).style.color = "black";
                document.getElementById(id).setAttribute('newReserved', 'False');
                document.getElementById('newReserved.' + tableId).value = false;
            } else {
                $('td[id="' + id + '"]').css("background-color", '#fcffbc');
                document.getElementById('P.' + id).style.color = "green";
                document.getElementById(id).setAttribute('newReserved', 'True');
                document.getElementById('newReserved.' + tableId).value = true;
            }
        });
    };

    function reseredTablesSuccess(data) {
        for (var i = 0; i < $("#newTablesInfoModal :input").length; i++) {
            var id = document.getElementById($("#newTablesInfoModal :input")[i].id).value;
            var elemid = document.getElementById($("#newTablesInfoModal :input")[i].id).getAttribute("elemid");
            $('td[id="' + elemid + '"]').css("background-color", '#fcfcfc');
            $('td[id="' + elemid + '"]').attr("reserved", "True");
            $('td[id="' + elemid + '"]').attr("reservedandconfirmed", "True");
            $('td[id="' + elemid + '"]').removeAttr("newReserved");
            document.getElementById('imgT.' + elemid).src = "/Content/icons/SchemaIcons/InactiveTable.png";
            document.getElementById('imgP.' + elemid).src = "/Content/icons/SchemaIcons/InactivePerson.png";
            document.getElementById('P.' + elemid).style.color = "black";
        }

    }
                


</script>

