.authenticationBlock {
    width: 25%;
    margin: auto;
}

.modalButton {
    width: 100%;
}

.authenticationInput {
    min-width: 100%;
    font-size: 14px;
}

.oi {
    font-size: 15px;
}

.centralHeader {
    text-align: center;
}

#signUpButton {
    margin-top: 15px;
    font-size: medium;
}

#logInButton {
    margin-top: 15px;
    font-size: medium;
}

#socialLogInForm {
    margin-top: 100px;
}

#socialSignUpForm {
    margin-top: 100px;
}

.validationLabel {
    color: crimson;
    text-align: center;
    margin-bottom: 5px;
    font-weight: normal;
    display: none;
}

.validationSummaryLabel {
    color: crimson;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    display: none;
}

.inputValidationError {
    border: 1px crimson;
    box-shadow: crimson 2px;
}


/*Social networks buttons styles*/
#socialLoginList {
    margin: auto;
    text-align: center;
    display: block;
}

#socialLoginList button {
    margin: auto;
    display: inline;
    width: 70px;
    height: 70px;
    margin: 0px 5px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
}

.facebookButton {
    background-image: url('../../../../Img/Social Network/facebook.png') !important;   
}

.googleButton {
    background-image: url('../../../../Img/Social Network/google.png') !important;
}

.vkButton {
    background-image: url('../../../../Img/Social Network/vkontakte.ico') !important;
}