@using CityGoodTaste.Models;
@model CityGoodTaste.Models.Restaurant

<div style="float: left;">
    @CityGoodTaste.Resources.Resource.Tables:
@foreach (var item in Model.RestaurantSchemas.FirstOrDefault().Tables)
{
    CityGoodTaste.Models.TableReservation reserv = item.TableReservation.Where(x => x.Date.Date == DateTime.Now.Date).FirstOrDefault();

    if (reserv == null)
    {
        continue;
    }

    if (reserv.Reserved == true && reserv.User.Id == ViewBag.UserId)
    {
        <span style="margin-right:1em"> № @reserv.Table.Id (<span class="glyphicon glyphicon-user">@reserv.Table.Seats</span>)</span>
    }

}
</div>
