@using CityGoodTaste.Models;
@model CityGoodTaste.Models.Restaurant


@foreach (var item in Model.RestaurantSchemas.FirstOrDefault().Tables)
{
    CityGoodTaste.Models.TableReservation reserv = item.TableReservation.Where(x => x.Date.Date == DateTime.Now.Date).FirstOrDefault();

    if (reserv == null)
    {
        continue;
    }

    if (reserv.Reserved==true&&reserv.User.Id == ViewBag.UserId)
    {
        <p>@reserv.Table.Id</p>
    }




}
