@using CityGoodTaste.Models.ViewModels

@model CityGoodTaste.Models.ViewModels.ConfirmReservViewModel

<div class="modal-content" style="width:1000px">
    <div class="modal-header" style="background-color:#333333; color:white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div id="confirmReservModalBody" class="modal-body" style="padding:40px 50px;">

        @for (int i = 0; i < Model.Reservation.Count; i++)
        {
            <p>ff</p>
        }
    </div>
</div>