
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/Default/jquery.bootstrap-touchspin.css")
@Styles.Render("~/Content/css/Default/bootstrap-datetimepicker.css")
@Styles.Render("~/Content/css/Default/clockpicker.css")




<div class="col-sm-3 sidenav text-center" style="height:1000px">
    <div class="panel panel-default ">
        <div class="panel-heading">
            НАЧАТЬ РЕЗЕРВ
            <button type="button" class="btn btn-danger btn-block">Зарезервировать</button>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    Количество мест
                    <input id="demo2" type="text" value="0" name="demo2" class="col-md-8 form-control">
                </div>
            </form>
        </div>

        <div class="panel-footer text-center">
            Дата
            <div id="dp6" data-date="12-02-2012" data-date-format="dd-mm-yyyy"></div>
        </div>

        <div class="panel-body">
            Время
            <div class="form-group center-block row">
                <div class="input-group clockpicker col-sm-12">
                    <input type="text" class="form-control" value="09:30">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            ВЫБРАТЬ СТОЛИК
            <div class="center-block row">
                <img src="https://placehold.it/250x150?text=IMAGE" alt="img" class="img-responsive col-sm-12" />
            </div>
            
        </div>

        <div class="panel-body">
            КОНТАКТНАЯ ИНФОРМАЦИЯ
            <div class="form-group">
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="oi"></i></span>
                    <input id="name" type="text" class="form-control input-sm" name="name" placeholder="Имя">
                </div>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="oi"></i></span>
                    <input id="surname" type="text" class="form-control input-sm" name="surname" placeholder="Фамилия">
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-3 sidenav text-center" style="height:1000px">
        <div class="panel panel-default ">
            <div class="panel-heading">Panel Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Item 01</div>
                            <div class="panel-body">
                                <img src="http://placehold.it/150x150" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@