@model CityGoodTaste.Models.ViewModels.RestaurantShemaViewModel

<style>
    .modalFix {
        position: relative !important;
        right: 200px !important;
    }
</style>


@using (Ajax.BeginForm("_ReservedTablesPartial", new AjaxOptions { UpdateTargetId = "reseredTables" }))
{
<div class="modal-content modalFix" style="width:1000px">
        @Html.Partial("_SchemaPartial")
        <div class="modal-footer">
            <div class="panel-heading">
                <button id="submitBt" type="submit" class="btn btn-success btn-default pull-left">
                    <span class="glyphicon glyphicon-ok"></span>
                    Подтвердить
                </button>
                <button id="closeBt" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Отмена
                </button>
            </div>
        </div>

</div>
}


<script>
    $('#submitBt').click(function (event) {
        $('#reseredTables').empty();
        $('#closeBt').click();
    });
</script>