.authenticationBlock {
    width: 25%;
    margin: auto;
}

.modalButton {
    width: 100%;
}

.authenticationInput {
    min-width: 100%;
    font-size: 14px;
}

.oi {
    font-size: 15px;
}

.centralHeader {
    text-align:center;
}

#signUpButton {
    margin-top: 15px;
}

.validationLabel {
    color: crimson;
    text-align: center;
    margin-bottom: 5px;
    font-weight: normal;
    display: none;
}

.validationSummaryLabel {
    color: crimson;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    display: none;
}