.customRightNavElement {
    float:right; 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.customLeftNavElement {
    float:left; 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}


/*Texsboxes clear button styles*/
.clearable{    
  background: #fff url('../../icons/open-iconic/svg/x.svg') no-repeat right -16px center;
  border: 1px solid #999;
  padding: 3px 23px 3px 4px;
  border-radius: 3px;
  /*transition: background 0.4s;*/
}

.clearable.x { 
    background-position: right 6px center;                 
    background-size: 14px;
    position: relative;
}

.clearable.onX { 
    cursor: pointer; 
}  

.clearable::-ms-clear {
    display: none; 
    width: 0px; 
    height: 0px;
}