.restSearch {
    margin: 0px !important;
    padding: 10px !important;
    background-color: #333333 !important;
    color: white !important;
}

.restSearchCat {
    margin: 10px !important;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
}

.searchForm{
    background-color:#333333;
    padding-left:1%; 
    padding-right:1%;
}

.functionalButton {
    background-color: #74BBE7;
}