@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.MenuHeadText {
    padding: 10px;
}

.tableReviews {
    border-spacing: 5px !important;
    border-collapse: unset !important;
}

div.ui-datepicker {
    font-size: 17px;
}

button.ui-datepicker-close  { 
    display: none; 
}

button.ui-datepicker-close  { 
    display: none; 
}

button.ui-datepicker-current { 
    width: 100%;
}

.ui-datepicker-current {
    width: 100% !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    padding: 0.2em !important;
}

.searchBlock {
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
    background-color:#333333;
}

li.active a {
    background-color: #8BB6C4 !important;
    color: white !important;
}

.filtersPanel {
    padding-left: 20px;
}

#searchFiltersBlock {
    margin-bottom: 15px;
    margin-right: -20px
}

#collapseNeighborhoods,
#collapse1,
#collapse3{
    padding-left:10px;
}

input.name {

}




/*Rating system*/
fieldset, label 
{ 
    margin: 0; 
    padding: 0; 
}

.rating { 
  border: none; 
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}


/** Food Rank   **/
/***** CSS Magic to Highlight Stars on Hover *****/
.A > input:checked ~ label, /* show gold star when clicked */
.A:not(:checked) > label:hover, /* hover current star */
.A:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.A > input:checked + label:hover, /* hover current star when changing rating */
.A > input:checked ~ label:hover,
.A > label:hover ~ input:checked ~ label, /* lighten current selection */
.A > input:checked ~ label:hover ~ label { color: #FFED85;  }

/** Service Rank   **/
/***** CSS Magic to Highlight Stars on Hover *****/
.B > input:checked ~ label, /* show gold star when clicked */
.B:not(:checked) > label:hover, /* hover current star */
.B:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.B > input:checked + label:hover, /* hover current star when changing rating */
.B > input:checked ~ label:hover,
.B > label:hover ~ input:checked ~ label, /* lighten current selection */
.B > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/** Ambience Rank   **/
/***** CSS Magic to Highlight Stars on Hover *****/
.C > input:checked ~ label, /* show gold star when clicked */
.C:not(:checked) > label:hover, /* hover current star */
.C:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.C > input:checked + label:hover, /* hover current star when changing rating */
.C > input:checked ~ label:hover,
.C > label:hover ~ input:checked ~ label, /* lighten current selection */
.C > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/** Restaurant Rank   **/
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 