@{
    ViewBag.Title = "Login Failure";
}

<div class="authenticationBlock">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Неудачный вход с услугой.</h3>
    </hgroup>
</div>